
/*Sets navbar height to a total of 10vh*/

/*.dropdown-menu {*/
/*    color: #F2F2F2;*/
/*    background-color: #1E1E1E;*/
/*}*/

h1, h2, h3, h4, h5, h6 {
    font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 700;
    margin-top: 1cm;
}

#brand-mobile {
    padding-left: 65px;
}

#page_title {
    margin-bottom: 3vh;
    padding: 5vh;
    color: white;
    background-color: var(--primary-color);
}

#page_title .row {
    min-height: 15vh;
}

#page_title h1 {
    margin: 0;
    text-align: center;
}

#page_title p {
    margin: 0;
}


.alert {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    z-index: 10;
    margin: 0 0 0 0;
}